.container-main{
    margin-bottom: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 75px;

}

.btn-secondary{
    background-color: white;
    border: 1px solid #ddd;
    color: black;
}

.banner-div{
    width: 100%;
    padding: 10px;
    height: 350px;
}

.banner-img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 350px;
}

/* Search Bar */

.search-bar-div{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.search-bar{
    width: 85%;
    margin-top: 20px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.search-btn{
    height: 40px;
    border: 0.1px solid #ddd;
    margin-top: -5px;
    width: 120px;
}

/* Card Section */


.card{
    width: 350px;
    height: 200px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid black;
    object-fit: cover;
}

.card p{
    font-weight: 900;
}

@media (max-width:852px){
    .banner-div{
        width: 100%;
        padding: 10px;
        height: auto;
    }
    
    .banner-img{
        width: 100%;
        object-fit: cover;
        height: 150px;
        border-radius: 10px;
    }

    .card{
        width: 40%;
        height: 70px;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        border: 1px solid black;
        object-fit: cover;
    }
    
    
    
}
